{
    "openapi": "3.1.0",
    "info": {
        "title": "Garage 61 API V1",
        "description": "Integration API for Garage 61",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://garage61.net/api/v1"
        }
    ],
    "paths": {
        "/analyses": {
            "get": {
                "tags": ["analyses"],
                "summary": "Analyses for current user.",
                "operationId": "findAnalyses",
                "parameters": [
                    {"name": "types", "in": "query", "schema": {"type": "array", "items": {"type": "string"}}},
                    {"name": "trainingplan", "in": "query", "schema": {"type": "string"}},
                    {"name": "limit", "in": "query", "schema": {"type": "number", "format": "int64", "maximum": 100, "default": 100}},
                    {"name": "offset", "in": "query", "schema": {"type": "number", "format": "int64"}}
                ],
                "security": [{"oauth2": ["analyses"]}, {"personalAccessToken": []}]
            }
        },
        "/analyses/{id}": {
            "get": {
                "tags": ["analyses"],
                "summary": "Get analysis details.",
                "operationId": "getAnalysis",
                "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
                "security": [{"oauth2": ["analyses"]}, {"personalAccessToken": []}]
            }
        },
        "/car-groups": {
            "get": {
                "tags": ["content"],
                "summary": "Available car groups.",
                "operationId": "findCarGroups"
            }
        },
        "/cars": {
            "get": {
                "tags": ["content"],
                "summary": "Available cars.",
                "operationId": "findCars"
            }
        },
        "/laps": {
            "get": {
                "tags": ["driving_data"],
                "summary": "Find laps and lap records.",
                "description": "Search for laps or lap records. Always requires at least a track, a car or a user. Only returns laps driven yourself or your team mates.",
                "operationId": "findLaps",
                "parameters": [
                    {"name": "cars", "in": "query", "description": "Car IDs (numeric). Negative numbers = car category IDs.", "schema": {"type": "array", "items": {"type": "number", "format": "int64"}}},
                    {"name": "tracks", "in": "query", "required": true, "description": "Track IDs to search for.", "schema": {"type": "array", "items": {"type": "number", "format": "int64"}}},
                    {"name": "seasons", "in": "query", "schema": {"type": "array", "items": {"type": "number", "format": "int64"}}},
                    {"name": "drivers", "in": "query", "description": "Values: 'me', 'following'", "schema": {"type": "array", "items": {"type": "string"}}},
                    {"name": "teams", "in": "query", "schema": {"type": "array", "items": {"type": "string"}}},
                    {"name": "extraDrivers", "in": "query", "schema": {"type": "array", "items": {"type": "string"}}},
                    {"name": "age", "in": "query", "description": "Max lap age in days. Negative: -1=current season, -2=current+prev, -3=last 3, -4=last 4", "schema": {"type": "number", "format": "int64"}},
                    {"name": "after", "in": "query", "schema": {"type": "string", "format": "date-time"}},
                    {"name": "sessionTypes", "in": "query", "description": "1=Practice, 2=Qualifying, 3=Race", "schema": {"type": "array", "items": {"type": "number", "format": "int64"}}},
                    {"name": "sessionSetupTypes", "in": "query", "description": "1=Open setup, 2=Fixed setup", "schema": {"type": "array", "items": {"type": "number", "format": "int64"}}},
                    {"name": "seeTelemetry", "in": "query", "description": "Require telemetry to be visible. Requires Pro plan.", "schema": {"type": "boolean"}},
                    {"name": "seeGhostLap", "in": "query", "schema": {"type": "boolean"}},
                    {"name": "seeSetup", "in": "query", "schema": {"type": "boolean"}},
                    {"name": "lapTypes", "in": "query", "description": "1=Normal, 2=Joker, 3=Out lap, 4=In lap", "schema": {"type": "array", "items": {"type": "number", "format": "int64"}}},
                    {"name": "event", "in": "query", "schema": {"type": "string"}},
                    {"name": "unclean", "in": "query", "description": "Allow returning unclean (and potentially incomplete) laps.", "schema": {"type": "boolean"}},
                    {"name": "minRating", "in": "query", "schema": {"type": "number", "format": "int64"}},
                    {"name": "maxRating", "in": "query", "schema": {"type": "number", "format": "int64"}},
                    {"name": "minFuel", "in": "query", "schema": {"type": "number"}},
                    {"name": "maxFuel", "in": "query", "schema": {"type": "number"}},
                    {"name": "minFuelUsed", "in": "query", "schema": {"type": "number"}},
                    {"name": "maxFuelUsed", "in": "query", "schema": {"type": "number"}},
                    {"name": "minLapTime", "in": "query", "schema": {"type": "number"}},
                    {"name": "maxLapTime", "in": "query", "schema": {"type": "number"}},
                    {"name": "minConditionsTrackUsage", "in": "query", "description": "0=clean track, 100=fully rubbered in", "schema": {"type": "number", "format": "int64"}},
                    {"name": "maxConditionsTrackUsage", "in": "query", "schema": {"type": "number", "format": "int64"}},
                    {"name": "minConditionsTrackWetness", "in": "query", "description": "0=dry, 100=fully wet", "schema": {"type": "number", "format": "int64"}},
                    {"name": "maxConditionsTrackWetness", "in": "query", "schema": {"type": "number", "format": "int64"}},
                    {"name": "minConditionsTrackTemp", "in": "query", "description": "Track temperature (C)", "schema": {"type": "number"}},
                    {"name": "maxConditionsTrackTemp", "in": "query", "schema": {"type": "number"}},
                    {"name": "minConditionsAirTemp", "in": "query", "description": "Air temperature (C)", "schema": {"type": "number"}},
                    {"name": "maxConditionsAirTemp", "in": "query", "schema": {"type": "number"}},
                    {"name": "minConditionsWindVel", "in": "query", "description": "Wind velocity (m/s)", "schema": {"type": "number"}},
                    {"name": "maxConditionsWindVel", "in": "query", "schema": {"type": "number"}},
                    {"name": "minConditionsRelativeHumidity", "in": "query", "schema": {"type": "number"}},
                    {"name": "maxConditionsRelativeHumidity", "in": "query", "schema": {"type": "number"}},
                    {"name": "minConditionsFogLevel", "in": "query", "schema": {"type": "number"}},
                    {"name": "maxConditionsFogLevel", "in": "query", "schema": {"type": "number"}},
                    {"name": "minConditionsPrecipitation", "in": "query", "schema": {"type": "number"}},
                    {"name": "maxConditionsPrecipitation", "in": "query", "schema": {"type": "number"}},
                    {"name": "minConditionsCloud", "in": "query", "description": "1=Clear, 2=Partly cloudy, 3=Mostly cloudy, 4=Overcast", "schema": {"type": "number", "format": "int64"}},
                    {"name": "maxConditionsCloud", "in": "query", "schema": {"type": "number", "format": "int64"}},
                    {"name": "conditionsWindDir", "in": "query", "description": "1=North, 2=East, 3=South, 4=West", "schema": {"type": "array", "items": {"type": "number", "format": "int64"}}},
                    {"name": "round", "in": "query", "description": "Display rounding: 'metric' or 'englishStandard'", "schema": {"type": "string"}},
                    {"name": "group", "in": "query", "description": "Grouping: 'driver'=personal best per driver, 'driver-car'=personal best per driver/car, 'none'=all laps", "schema": {"type": "string"}},
                    {"name": "limit", "in": "query", "schema": {"type": "number", "format": "int64", "maximum": 1000, "default": 1000}},
                    {"name": "offset", "in": "query", "schema": {"type": "number", "format": "int64"}}
                ],
                "security": [{"oauth2": ["driving_data"]}, {"personalAccessToken": []}]
            }
        },
        "/laps/{id}": {
            "get": {
                "tags": ["driving_data"],
                "summary": "Get information about a specific lap.",
                "operationId": "getLap",
                "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
                "security": [{"oauth2": ["driving_data"]}, {"personalAccessToken": []}]
            }
        },
        "/laps/{id}/csv": {
            "get": {
                "tags": ["driving_data"],
                "summary": "Export the telemetry for a lap as a CSV file.",
                "description": "Returns a CSV file with the telemetry for the requested lap (if available).\n\nPositionType column values:\n* 0: Unknown\n* 1: In the pit lane\n* 2: Making a pit stop\n* 3: On track\n* 4: Off track",
                "operationId": "getLapCSV",
                "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
                "responses": {
                    "200": {
                        "description": "Telemetry CSV",
                        "content": {"text/csv": {"schema": {"type": "string"}}}
                    }
                },
                "security": [{"oauth2": ["driving_data"]}, {"personalAccessToken": []}]
            }
        },
        "/me": {
            "get": {
                "tags": ["general"],
                "summary": "Information about the currently authenticated user.",
                "operationId": "me"
            }
        },
        "/me/accounts": {
            "get": {
                "tags": ["general"],
                "summary": "Get linked accounts for the current user.",
                "description": "Linked accounts such as iRacing. Returns driver ratings optionally with history.",
                "operationId": "getAccounts",
                "parameters": [{"name": "ratingHistory", "in": "query", "schema": {"type": "boolean"}}]
            }
        },
        "/me/statistics": {
            "get": {
                "tags": ["general"],
                "summary": "Get personal driving statistics.",
                "description": "Driving statistics per car/track/day combination.",
                "operationId": "getStatistics",
                "parameters": [
                    {"name": "start", "in": "query", "schema": {"type": "string", "format": "date-time"}},
                    {"name": "end", "in": "query", "schema": {"type": "string", "format": "date-time"}},
                    {"name": "cars", "in": "query", "schema": {"type": "array", "items": {"type": "number", "format": "int64"}}},
                    {"name": "tracks", "in": "query", "schema": {"type": "array", "items": {"type": "number", "format": "int64"}}}
                ]
            }
        },
        "/platforms": {
            "get": {
                "tags": ["content"],
                "summary": "Available platforms.",
                "description": "Simulator platforms (e.g. iRacing) or real world ('-'). Only returns platforms to which the user has access.",
                "operationId": "findPlatforms"
            }
        },
        "/tracks": {
            "get": {
                "tags": ["content"],
                "summary": "Available tracks.",
                "operationId": "findTracks"
            }
        }
    },
    "components": {
        "securitySchemes": {
            "oauth2": {
                "type": "oauth2",
                "description": "OAuth2 authentication"
            },
            "personalAccessToken": {
                "type": "apiKey",
                "in": "header",
                "name": "Authorization",
                "description": "Personal access token passed as Bearer token"
            }
        }
    },
    "_notes": {
        "telemetry_format": "CSV via GET /laps/{id}/csv. PositionType: 0=Unknown, 1=Pit lane, 2=Pit stop, 3=On track, 4=Off track. Exact column names unknown - need a real response to determine field names.",
        "id_types": "track_id and car_id are integers (int64), not strings. lap_id is a string.",
        "temperature_filtering": "The /laps endpoint natively supports temperature range filtering via minConditionsAirTemp/maxConditionsAirTemp/minConditionsTrackTemp/maxConditionsTrackTemp - no client-side filtering needed for search_similar_conditions.",
        "lap_validity": "The 'unclean' parameter on /laps controls whether dirty laps are returned. Default excludes them.",
        "session_type": "sessionTypes: 1=Practice, 2=Qualifying, 3=Race - available in lap search.",
        "grouping": "group=none returns all laps; group=driver returns personal best per driver.",
        "auth": "personalAccessToken uses Bearer token in Authorization header."
    }
}
